<table class="table table-hover">
	<thead>
		<th>ID</th>
		<th>Nombre</th>
		<th>Cantidad</th>
		<th>Precio</th>
		<th>+IVA</th>
		<th></th>
	</thead>
	
	<tbody>
		<% 
		ids=Array(@ids)
		i=-1
		total = 0
		@items.each do |item|
			total = total + item.precio
			i = i+1
		 %>
		<tr>

			<td><%= ids[i].id %></td>
			<td><%= item.name %></td>
			<td><%= ids[i].amount %>
			<td><%= item.precio %></td>
			<td><%= item.precio*1.19 %></td>
			<td><%= link_to "Remover", remove_from_cart_path(ids[i].id), class: "btn btn-small" %></td>
		</tr>
		<% end %>
		<tr><td></td><td>Subtotal</td><td></td><td></td><td><%= total*1.19 %></td><td></td></tr>
	</tbody>
</table>