%table.table.table-hover
  %thead
    %th ID
    %th Nombre
    %th Cantidad
    %th Precio
    %th +IVA
    %th
  %tbody
    - ids=Array(@ids)
    - i=-1
    - total = 0
    - @items.each do |item|
    - total = total + item.precio
    - i = i+1
      %tr
        %td= ids[i].id
        %td= item.name
        %td
          = ids[i].amount
        %td= item.precio
        %td= item.precio*1.19
        %td= link_to "Remover", remove_from_cart_path(ids[i].id), class: "btn btn-small"
    %tr
      %td
      %td Subtotal
      %td
      %td
      %td= total*1.19
      %td
