<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @producto.name %>
</p>

<p>
  <b>Precio:</b>
  <%= @producto.precio %>
</p>

<p>
  <b>Stock:</b>
  <%= @producto.stock %>
</p>

<p>
  <b>Foto:</b>
  <%= @producto.foto %>
</p>

<p>
  <b>Description:</b>
  <%= @producto.description %>
</p>


<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
